<html>
<head>
<meta http-equiv="Refresh" content="0;url=<%= options[:report_file_generated] %>" />
</head>
<body>
<a id="report_link" href="<%= options[:report_file_generated] %>"><%= options[:title] %></a>
</body>
</html>
